.todo{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;

}
.completed{
    background-color: rgba(0, 255, 21, 0.199);
}